<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>长虹</string>
	<string>康佳</string>
	<string>创维</string>
	<string>TCL</string>
	<string>厦华</string>
	<string>海信</string>
	<string>海尔</string>
	<string>金星</string>
	<string>熊猫</string>
	<string>索尼</string>
	<string>松下(乐声)</string>
	<string>日立</string>
	<string>夏普(声宝)</string>
	<string>三菱</string>
	<string>东芝</string>
	<string>飞利浦</string>
	<string>三星</string>
	<string>三洋</string>
	<string>日电</string>
	<string>西湖</string>
	<string>大宇</string>
	<string>北京</string>
	<string>高路华</string>
	<string>乐华</string>
	<string>TCBO东宝 TOS东凌</string>
	<string>福日</string>
	<string>安华</string>
	<string>百花</string>
	<string>百合花</string>
	<string>百乐</string>
	<string>宝声</string>
	<string>宝花石</string>
	<string>彩虹</string>
	<string>彩星</string>
	<string>长城</string>
	<string>成都</string>
	<string>长风</string>
	<string>长飞</string>
	<string>长海</string>
	<string>春兰</string>
	<string>春风</string>
	<string>春笋</string>
	<string>东大</string>
	<string>东海</string>
	<string>飞鹿</string>
	<string>黄河</string>
	<string>潢海美</string>
	<string>黄山</string>
	<string>华日</string>
	<string>海燕</string>
	<string>海虹</string>
	<string>海乐</string>
	<string>环宇</string>
	<string>虹美</string>
	<string>红岩</string>
	<string>菊花</string>
	<string>金海</string>
	<string>金凤</string>
	<string>金塔</string>
	<string>金鹊</string>
	<string>金雀</string>
	<string>嘉华</string>
	<string>康虹</string>
	<string>昆仑</string>
	<string>凯歌</string>
	<string>康力</string>
	<string>康立</string>
	<string>康艺</string>
	<string>孔雀</string>
	<string>快乐</string>
	<string>龙江</string>
	<string>利华</string>
	<string>牡丹</string>
	<string>美乐</string>
	<string>梦寐</string>
	<string>南声</string>
	<string>青岛</string>
	<string>如意</string>
	<string>神彩</string>
	<string>山茶</string>
	<string>上海</string>
	<string>韶峰</string>
	<string>沈阳</string>
	<string>赛格</string>
	<string>松柏</string>
	<string>三元</string>
	<string>三键</string>
	<string>泰山</string>
	<string>天鹅</string>
	<string>通广</string>
	<string>威牌</string>
	<string>翔宇</string>
	<string>雪莲</string>
	<string>星海</string>
	<string>山水</string>
	<string>JIAN SHENG</string>
	<string>襄阳</string>
	<string>幸福</string>
	<string>新日松</string>
	<string>莺歌</string>
	<string>宇航</string>
	<string>永固</string>
	<string>永宝</string>
	<string>珠海</string>
	<string>888牌</string>
	<string>赣新</string>
	<string>华发</string>
	<string>华强</string>
	<string>JVC</string>
	<string>飞跃</string>
	<string>飞浪</string>
	<string>南宝</string>
	<string>飞燕</string>
	<string>新思达</string>
	<string>NEC</string>
	<string>彩凌</string>
	<string>奥林普</string>
	<string>上广电</string>
	<string>WARUMAIA</string>
	<string>优拉纳斯</string>
	<string>高士达</string>
	<string>优视达</string>
	<string>爱华</string>
	<string>豁达特技</string>
	<string>佳丽彩</string>
	<string>奥林匹亚</string>
	<string>胜利</string>
	<string>狮龙</string>
	<string>雅佳</string>
	<string>皇冠</string>
	<string>富士通</string>
	<string>富丽</string>
	<string>尼康</string>
	<string>LG</string>
	<string>INTEL</string>
	<string>SUMO</string>
	<string>DIGITEC</string>
	<string>SANKEN</string>
	<string>PKLYTRON</string>
	<string>KANCHUA</string>
	<string>明基</string>
	<string>三灵</string>
	<string>创佳</string>
	<string>东杰</string>
	<string>金利普</string>
	<string>日声</string>
	<string>康鑫</string>
	<string>数源</string>
	<string>日芝</string>
	<string>汇佳板</string>
	<string>金鑫板</string>
	<string>满天星</string>
	<string>港泰</string>
	<string>松电</string>
	<string>欧凌</string>
	<string>SEYE</string>
	<string>日红</string>
	<string>鑫萌板</string>
	<string>天科板</string>
	<string>天庚板</string>
	<string>东凌</string>
	<string>DETRON</string>
	<string>黄龙</string>
	<string>杂牌机</string>
</array>
</plist>
